# DIABETES PREDICTION

In [1]:
import numpy as np
import pandas as pd

In [5]:
path = 'C:\\Users\\raj gupta\\Downloads\\diabetes.csv'
df = pd.read_csv(path )

In [4]:
df

,0,1,2,3,4,5,6,7,8
0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0
...,...,...,...,...,...,...,...,...,...
764,10,101,76,48,180,32.9,0.171,63,0
765,2,122,70,27,0,36.8,0.34,27,0
766,5,121,72,23,112,26.2,0.245,30,0
767,1,126,60,0,0,30.1,0.349,47,1
768,1,93,70,31,0,30.4,0.315,23,0

In [6]:
df.shape

(768, 9)

In [7]:
df['Outcome'].describe()

count    768.000000
mean       0.348958
std        0.476951
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Outcome, dtype: float64

In [8]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [9]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [11]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [15]:
x = df.drop('Outcome' , axis = 1)
y = df['Outcome']
x.shape , y.shape

((768, 8), (768,))

In [16]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

# standardization of data

In [12]:
from sklearn.preprocessing import StandardScaler

In [17]:
sc = StandardScaler()
sc.fit(x)
x =sc.transform(x)

In [18]:
x

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [19]:
#splitting data into test and train split

In [20]:
from sklearn.model_selection  import train_test_split

In [21]:
x_train , x_test , y_train , y_test = train_test_split(x ,y, test_size =0.20 , random_state= 51)
x_train.shape , y_train.shape

((614, 8), (614,))

# model training

In [25]:
from sklearn.svm import SVC

In [26]:
classifier = SVC()

In [28]:
classifier.fit(x_train , y_train)
classifier.score(x_test,y_test)

0.7402597402597403

# decision tree

In [42]:
from sklearn.tree import DecisionTreeClassifier

In [45]:
dclassifier = DecisionTreeClassifier(criterion='entropy')
dclassifier.fit(x_train , y_train)
dclassifier.score(x_test , y_test)

0.7142857142857143

# random forest

In [46]:
from sklearn.ensemble import RandomForestClassifier

In [49]:
rfclassifier = RandomForestClassifier(n_estimators=100 , criterion='gini')
rfclassifier.fit(x_train , y_train)
rfclassifier.score(x_test , y_test)

0.7597402597402597

# predict

In [29]:
input_data = (5,166,72,19,175,25.8,0.587,51)

In [37]:
data = np.array(input_data).reshape(1,-1)
data = sc.transform(data)

In [38]:
pred = classifier.predict(data)

In [39]:
pred

array([1], dtype=int64)

In [40]:
if (pred == [0]):
  print('The person is not diabetic')
else:
  print('The person is diabetic')

The person is diabetic